<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swiftroute.dispatch.infrastructure.persistence.DriverMapper">
    <resultMap id="DriverResultMap" type="com.example.swiftroute.dispatch.domain.model.Driver">
        <id property="id" column="id" 
        typeHandler="com.example.swiftroute.shared.infrastructure.persistence.UUIDTypeHandler"/>
        <result property="name" column="name"/>
        <result property="licenseNumber" column="license_number"/>
        <result property="phoneNumber" column="phone_number"/>
         <result property="status" column="status"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"
                />
    </resultMap>

    <select id="findById" resultMap="DriverResultMap">
    SELECT 
        id, 
        name, 
        license_number, 
        phone_number, 
        status
    FROM drivers
    WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="DriverResultMap">
    SELECT 
        id, 
        name, 
        license_number, 
        phone_number, 
        status
    FROM drivers
    </select>

    <insert id="insert">
        INSERT INTO drivers (id, name, license_number, phone_number, status)
        VALUES (#{id, jdbcType=OTHER}, #{name}, #{licenseNumber}, #{phoneNumber}, #{status})
    </insert>

    <update id="update">
        UPDATE drivers
        SET name = #{name},
            license_number = #{licenseNumber},
            phone_number = #{phoneNumber},
            status = #{status}
        WHERE id = #{id, jdbcType=OTHER}
    </update>

    <select id="existById" resultType="boolean">
    SELECT COUNT(1) &gt; 0
    FROM drivers
    WHERE id = #{id}
    </select>
</mapper>