<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.swiftroute.order.infrastructure.persistence.OrderMapper">

    <resultMap id="OrderResultMap" type="com.example.swiftroute.order.domain.model.Order">
    <id property="id" column="id" 
    typeHandler="com.example.swiftroute.order.infrastructure.persistence.UUIDTypeHandler"/>
    <result property="customerId" column="customer_id" 
    typeHandler="com.example.swiftroute.order.infrastructure.persistence.UUIDTypeHandler"/>
    
    <result property="status" column="status"
            typeHandler="org.apache.ibatis.type.EnumTypeHandler"
            />
    <result property="createdAt"  column="created_at"/>
    <result property="updatedAt"  column="updated_at"/>
    <result property="version"    column="version"/>
    <!-- DeliveryAddress embedded fields -->

    <association property="deliveryAddress" javaType="com.example.swiftroute.order.domain.valueObject.DeliveryAddress">
        <result property="street"     column="street"/>
        <result property="city"       column="city"/>
        <result property="postalCode" column="postal_code"/>
        <result property="country"    column="country"/>
    </association>

     <collection property="orderLines" ofType="OrderLine">
        <id property="id" column="line_id"/>
        <result property="orderId" column="order_id"/>
        <result property="sku" column="sku"/>
        <result property="description" column="description"/>
        <result property="quantity" column="quantity"/>
        <result property="weightKg" column="weight_kg"/>
        <result property="volumeM3" column="volume_m3"/>
        <result property="unitPrice" column="unit_price"/>
    </collection>
    

</resultMap>

    <select id="findById" resultMap="OrderResultMap">
    SELECT 
        o.id, o.customer_id, o.status,
        o.street, o.city, o.postal_code, o.country,
        o.created_at, o.updated_at, o.version,
        ol.id as line_id, ol.order_id, ol.sku,
        ol.description, ol.quantity,
        ol.weight_kg, ol.volume_m3, ol.unit_price
    FROM orders o
    LEFT JOIN order_lines ol ON ol.order_id = o.id
    WHERE o.id = #{id}
</select>

    <insert id="insert">
        INSERT INTO orders (id, customer_id, status,
                           street, city, postal_code, country,
                           created_at, updated_at, version)
        VALUES (#{id, jdbcType=OTHER}, #{customerId, jdbcType=OTHER}, #{status},
                #{deliveryAddress.street}, #{deliveryAddress.city},
                #{deliveryAddress.postalCode}, #{deliveryAddress.country},
                #{createdAt}, #{updatedAt}, #{version})
    </insert>

    <update id="update">
        UPDATE orders SET
            status      = #{status},
            updated_at  = #{updatedAt},
            version     = version + 1
        WHERE id = #{id} AND version = #{version}
    </update>

    <select id="existById" resultType="boolean">
    SELECT COUNT(1) &gt; 0 FROM orders WHERE id = #{id}
</select>

</mapper>