<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swiftroute.dispatch.infrastructure.persistence.RouteMapper">
    <resultMap id="RouteResultMap" type="com.example.swiftroute.dispatch.infrastructure.persistence.RoutePersistence">
        <id property="id" column="id" 
        typeHandler="com.example.swiftroute.shared.infrastructure.persistence.UUIDTypeHandler"/>
        <result property="driverId" column="driver_id" 
        typeHandler="com.example.swiftroute.shared.infrastructure.persistence.UUIDTypeHandler"/>
        <result property="vehicleId" column="vehicle_id" 
        typeHandler="com.example.swiftroute.shared.infrastructure.persistence.UUIDTypeHandler"/>
        <result property="status" column="route_status"
                />
        <result property="plannedDate" column="planned_date"/>
        <collection property="stops"
                ofType="com.example.swiftroute.dispatch.infrastructure.persistence.RouteStopPersistence"
                select="findStopsByRouteId"
                column="id"/>
    </resultMap>

    <select id="findById" resultMap="RouteResultMap">
    SELECT id, driver_id, vehicle_id, status, planned_date
    FROM routes
    WHERE id = #{id}
</select>

<select id="findStopsByRouteId" resultType="com.example.swiftroute.dispatch.infrastructure.persistence.RouteStopPersistence">
    SELECT 
        id, route_id, order_id,
        stop_sequence, eta, status
    FROM route_stops
    WHERE route_id = #{id}
</select>

    <insert id="insert">
        INSERT INTO routes (id, driver_id, vehicle_id, status, planned_date)
        VALUES (#{id, jdbcType=OTHER}, #{driverId, jdbcType=OTHER}, #{vehicleId, jdbcType=OTHER}, #{status}, #{plannedDate})
    </insert>

    <update id="update">
        UPDATE routes
        SET driver_id = #{driverId, jdbcType=OTHER},
            vehicle_id = #{vehicleId, jdbcType=OTHER},
            status = #{status},
            planned_date = #{plannedDate}
        WHERE id = #{id, jdbcType=OTHER}
    </update>

    <select id="existById" resultType="boolean">
        SELECT COUNT(1) FROM routes WHERE id = #{id}
    </select>
</mapper>