<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swiftroute.dispatch.infrastructure.persistence.VehicleMapper">
    <resultMap id="VehicleResultMap" type="com.example.swiftroute.dispatch.domain.model.Vehicle">
        <id property="id" column="id" 
        typeHandler="com.example.swiftroute.shared.infrastructure.persistence.UUIDTypeHandler"/>
        <result property="type" column="type"/>
        <result property="licensePlate" column="license_plate"/>
        <result property="status" column="status"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"
                />
        <result property="maxWeightKg" column="weight_kg"/>
        <result property="maxVolumeM3" column="volume_m3"/>
    </resultMap>

    <select id="findById" resultMap="VehicleResultMap">
    SELECT 
        id,
        type, 
        license_plate, 
        status, 
        weight_kg, 
        volume_m3
    FROM vehicles
    WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="VehicleResultMap">
    SELECT
        id,
        type, 
        license_plate, 
        status, 
        weight_kg, 
        volume_m3
    FROM vehicles
    </select>

    <insert id="insert">
        INSERT INTO vehicles (id, type, license_plate, status, weight_kg, volume_m3)
        VALUES (#{id, jdbcType=OTHER}, #{type}, #{licensePlate}, #{status}, #{maxWeightKg}, #{maxVolumeM3})
    </insert>

    <update id="update">
        UPDATE vehicles
        SET license_plate = #{licensePlate},
            type = #{type},
            weight_kg = #{maxWeightKg},
            volume_m3 = #{maxVolumeM3},
            status = #{status}
        WHERE id = #{id, jdbcType=OTHER}
    </update>

    <select id="existById" resultType="boolean">
        SELECT COUNT(1) &gt; 0
        FROM vehicles
        WHERE id = #{id}
    </select>

</mapper>